.chip-container {
  display: flex;
  flex-wrap: wrap;
}

.showcase-link {
  text-decoration: none;
  align-self: center;
}

.showcase-link:hover {
  text-decoration: underline;
}

#item-container {
  padding: 5px;
}
